.store {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.store__product {
    height: 500px;
    margin: 48px 0;
    background-color: rgb(218, 218, 218);
}
.store__product img {
    height: 100%;
    width: auto;
}
.store__list-item {
    display: grid;
    grid-template-columns: 2fr 9fr 1fr 1fr;
    gap: 20px;
}
.store__list-item:hover {
    text-decoration: underline;
}
.store__list-item:active {
    scale: 0.9;
}
.store__list-item::before {
    content: "";
    height: 1px;
    width: 100%;
    background-color: var(--color-black);
    grid-column: 1 / 5;
}

.store__item-name {
    min-width: 120px;
}
.store__item-description {
    min-width: 250px;
    max-width: 500px;
    text-wrap: wrap;
}
.store__item-type {
    min-width: 80px;
}
.store__item-price {
}
.store__list-item > * {
    margin-bottom: 15px;
}

